.container{
    height: 100vh;
    padding: 5rem;
    box-sizing: border-box;
}

.tradingContainer{
    height: 100vh;
    box-sizing: border-box;
}

#vetor-graphics {
    border-radius: 100%;
    filter: drop-shadow(0 40px 10px rgba(0, 0, 0, 0.3));
    animation: imageUpAnimation 1s infinite ease-in-out alternate;
}
#trading-img-graphics {
    border-radius: 100%;
    filter: drop-shadow(0 40px 10px rgba(0, 0, 0, 0.3));
}
.work{
    transition: 0.5s all;
    padding: 5;
}

.work:hover{
    animation: zoomView 1s infinite ease-in-out alternate;
}

@keyframes imageUpAnimation {
    to {
        transform: translateY(-10px);
    }
}

@keyframes zoomView {
    to {
        transform: scale(1.05);
    }
}

.project{
    transition: 0.5s all;
}

.project:hover{
    transform: translateY(-10px);
}